.my-form {
  min-width: 150px;
  max-width: 768px;
  width: 100%;
 
}
  .input-full-width {
    padding: 1em;
    width: 90%;
   }
  hr{
    margin-left: 10px;
    
    width: 700px;
  }
 h1{
   color: dodgerblue;
   font-weight: bolder;
   font-size: x-large;
   margin-top: 1em;
   padding-left: 1em;
   text-transform: uppercase;

 }
   @media screen and (max-width: 768px) {
     
    table, thead, tbody, th, td, tr { 
      display: block;
   }
   .input-full-width {
    padding: 1em;
    width: auto;
   }
}
